<!-- Your footer goes here -->


<footer class="footer">
	<div class="shell">
		<div class="footer__wrapper">
			<p>Copyright &#169; - 2023 Smart Buoy</p>

			<div class="footer__socials">
				<ul>
					<li>
						<a href="#" class="fa fa-facebook"></a>
					</li>
					
					<li>
						<a href="#" class="fa fa-youtube"></a>
					</li>
					
					<li>
						<a href="#" class="fa fa-twitter"></a>
					</li>
				</ul>
			</div><!-- /.footer__socials -->
		</div><!-- /.footer__wrapper -->
	</div><!-- /.shell -->
</footer>