<!-- Your header goes here -->
<header class="header">
	<div class="header__top">
		<div class="shell">
			<div class="header__wrapper">
				<div class="header__info">
					<ul>
						<li>
							<a href="tel: +5565454117">
								<i class="fa fa-phone header__icon"></i>

								Phone: +55 654 541 17
							</a>
						</li>

						<li>
							<i class="fa fa-envelope header__icon"></i>

							Email: cean.developmentbg@gmail.com
						</li>
					</ul>
				</div><!-- /.header__info -->
				
				<div class="header__actions">
					<figure class="header__lang">
						<img src="assets/images/UK.png" alt="">
					</figure><!-- /.header__lang -->
				</div><!-- /.header__actions -->
			</div><!-- /.header__wrapper -->
			
		</div><!-- /.shell -->
	</div><!-- /.header__top -->

	<div class="header__main">
		<div class="shell">
			<div class="header__inner">
				<a href="index.html" class="logo">
					<img src="assets/images/logo.png" alt="" width="1334" height="403"  >
				</a>

				<div class="hamburger">
					<div class="hamburger__line"></div><!-- /.hamburger__line -->
				</div><!-- /.hamburger -->

				<nav class="nav">
					<ul>
						<li>
							<a href="index.html">Home</a>
						</li>

						<li class="nav__drop">
							<a href="#">Services</a>

							<div class="nav__dropdown">
								<ul>
									<li>
										<a href="flag.html">Beaches map</a>
									</li>
									
									<li>
										<a href="data.html">Live data</a>
									</li>
								</ul>
							</div><!-- /.nav__dropdown -->
						</li>

						<li>
							<a href="aboutus.html">About us</a>
						</li>

						<li>
							<a href="index.html#contact">Contacts</a>
						</li>
					</ul>
				</nav><!-- /.nav -->
			</div><!-- /.header__inner -->
		</div><!-- /.shell -->
	</div><!-- /.header__main -->
</header><!-- /.header -->