/* ------------------------------------------------------------ *\
	textarea
\* ------------------------------------------------------------ */

.textarea {
	width: 100%;
	min-height: 18rem;
	border-radius: 1rem;
	color: #fff;
	background-color: #282a36;
	padding: 1.5rem;
	font-size: 1.8rem;
	font-family: Arial, sans-serif;
	border: 2px solid #000;
}